@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

html,
body,
#app {
    height: 100%;
    font-family: "Roboto";
}

#app {
    display: grid;
    grid-template-rows: 56px 1fr 75px;
}

.negrita {
    font-weight: 700;
}

.contain {
    object-fit: contain !important;
}

.navbar-base {
    color: white;
    z-index: 10;
}
.navbar-ddown {
    background: white;
}
.navbar-brand {
    color: #d91e1c;
    font-weight: 700;
}
.nav-link {
    border: none;
}
.nav-link:hover {
    color: #d91e1c;
}

main {
    background-color: beige;
}

.cr-title {
    background: url(../img/cruz-roja.png) no-repeat top center;
    background-size: 50px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 5rem;
}

.cont-1 {
    gap: 2%;
    height: 300px;
    
}

.cont-1>div {
    width: 48%;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.cont-1>div:last-child {
    background: #d91e1c;
    color: white;
}

.catalogo-cursos {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    padding: 0;
}

.catalogo-cursos li {
    /* max-width: 300px; */
    padding: 1rem;
    list-style-type: none;
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.catalogo-cursos li h2 {
    color: #d91e1c;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.catalogo-cursos li img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    background-color: white;
}

.cont-valores {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.cont-valores li {
    /* max-width: 300px; */
    padding: 1rem;
    list-style-type: none;
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.cont-valores li h2 {
    color: #d91e1c;
}
.cont-cursos-home {
    margin: auto;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn-ver-cursos {
    background: #d91e1c;
    color: white;
    width: 25%;
    margin: auto;
}
.btn-ver-cursos:hover {
    background: #991614;
    color: white;
}

.img-edit {
    max-width: 300px;
}

.cont-det-curso h1 {
    color: #d91e1c;
    margin-top: 2rem;
}

.curso-det-img {
    max-width: 50%;
    margin: auto;
}

.cont-blog h1 {
    color: #d91e1c;
    margin-bottom: 2rem;
}

.cont-blog ul {
    padding-left: 0;
}

.item-blog {
    padding: 1rem;
    list-style-type: none;
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgray;
    margin-bottom: 2rem;
}

.btn-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cont-auth {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
    margin-top: 4rem;
}

.cont-auth .btn {
    background-color: #d91e1c;
    color: white;
}

.cont-auth .btn:hover {
    background-color: #991614;
    color: white;
    border: 1px solid #991614;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #333;
    color: #fff;
}
.footer p {
    margin-bottom: 0;
}

@media screen and (max-width: 992px) {
    .catalogo-cursos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .catalogo-cursos {
        grid-template-columns: repeat(1, 1fr);
    }
}
.card-nosotros {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.card-nosotros:nth-child(1n) {
    background-color: #fff;
    
}
.card-nosotros:nth-child(2n) {
    background-color: #d91e1c;
    color: white;
}

.card-contacto {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    background-color: #fff;
}

.card-contacto h2 {
    color: #d91e1c;
}

.cont-precio {
    align-items:center
}

.btn-nuevo a{
    color: white;
    text-decoration: none;
}

.titulo-detalle {
    font-size: 1.15rem;
    color: #d91e1c;
}
.chip-curso {
    background-color: #991614;
    color: white;
    padding: 0.5rem;
    border-radius: 5rem;
    font-size: 0.875rem;
    vertical-align: top;
}